gauss_lab/compile.sh
gauss_lab/main
readfile_minilab/compile.sh
readfile_minilab/main
triangle_minilab/compile.sh
triangle_minilab/main
quadraticE_minilab/compile.sh
quadraticE_minilab/main
rational_minilab/compile.sh
rational_minilab/main
